* {
    margin:0;
    padding:0;
}


/* NAVBAR */
.head {
    padding:14px 14px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: aliceblue;

    background-color: #3B486E;
}

.navbar {
    display: flex;
    gap:40px;
    list-style: none;
       
}


.navbar a {
text-decoration: none;
color: aliceblue;
position: relative;
}

.navbar a::after {
    position: absolute;
    content: "";
    
    left: 0;
    bottom:-4px;
    height: 2px;
    width: 0%;
    background-color: aliceblue;
    transition: all 0.4s ease;
}
.navbar a:hover::after {
    width: 100%;
}

.images img{
 max-width: 650px;
 width: 100%;
}


/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 550px;
    flex:1;
    padding:60px 30px;
    display: flex;
    flex-direction: column;
    gap: 13px;
   

}

.hero-content h1 {
    font-size: 4rem;
    letter-spacing: 1.2px;
    line-height: 80%;
    line-height: 1.1;
    color: #222;
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.hero-content p {
    font-size: 1.2rem;
    color: #333;

    
}

.hero .images {

    max-width: 550px;
    flex:1;
}


.buttons {

    display: flex;
    padding:10px 20px;
    gap: 20px;
}

.buttons  button {
    padding:19px 18px;
    border: none;
    border-radius: 8px;
    letter-spacing: 1.4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buttons .primary-btn {
    border: 1px solid black;
}
.buttons .secondary-btn {

    color: white;
    background-color: #3B486E;;
}

.buttons .primary-btn:hover {
    background-color: #3B486E;
    color: whitesmoke;
}