/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;  /*vh visible browser window height */
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #f4f4f4;
   
}

.profile-card {
    max-width:  370px; /* Card can grow,
        but never more than 370px*/
    width:100%; /* Take 100% width of the parent*/
    background: #fff;
    border-radius: 24px;
    padding:25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    /* make image to its center */
    display: flex;
    flex-direction: column;
    align-items: center;


}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding:3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width:100%;
    border-radius: 50%;
    
    object-fit: cover;
    border: 3px solid #fff;
}

/* 
text data */

.profile-card .text-data {
    display: flex;  /* Each element must be declared display: flex if you want to control its own children.*/
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.media-buttons .links {
    display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     font-size: 18px;
     height: 34px;
     width: 34px;
     border-radius: 50%;
     margin: 0 8px;
     background-color: #4070f4;
     text-decoration: none;





}