* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-track {
    display: flex;
    width: 300%; /* number of slides * 100% */
    height: 100%;
    animation: slideShow 12s infinite;
}

.slide {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.slide-content {
    flex: 1;
    max-width: 500px;  
    /* maximum range 400px to 600 px taken normaly by designers */
}

.slide-content h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.slide-content p {
    font-size: 18px;
    line-height: 1.6;
    color: gray;
    margin-bottom: 25px;
}

.primary-btn {
    padding: 15px 28px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: beige;
    transform: scale(1.05);
}

.slide-image {
    flex: 1;
}

.slide-image img {
    width: 450px;
    max-width: 100%;
    border-radius: 20px;
    display: block;  
}

@keyframes slideShow {

    0%,
    30% {
        transform: translateX(0);
    }

    35%,
    65% {
        transform: translateX(-100%);
    }

    70%,
    100% {
        transform: translateX(-200%);
    }
}