/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

header{
    display: flex;
}

.headerLeft {
    display:flex;
    align-items: center;
   
}
.logo {
    padding: 22px 30px;
    border-right: 1px solid #ccc;
}
.headerAddress{
    padding: 20px 30px;
}
.headerAddress h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.headerAddress p {
    font-size: 14px;
}