/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

header{
    display: flex;
    align-items: center; /* border which is applied in .searchBox comes in center.. child ko height ke center mein krta hai but flex-direction: row hona chahiye; */
    border-top: 1px solid #ccc;
    gap: 40px; /*give space to each child elements which are inside header */
    border-bottom: 1px solid #ccc;
}

.headerLeft {
    display:flex;
    align-items: center;
   
}
.logo {
    padding: 22px 30px; /* it gives gap from inside */
    border-right: 1px solid #ccc;
}
.headerAddress{
    padding: 20px 30px;
}
.headerAddress h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.headerAddress p {
    font-size: 14px;
}

/* creating search box */

.searchBox {
    flex-grow: 1; /* take rest space of parent */
    background-color: #f8f8f8;
    border: 1px solid #f4f4f4;
    display :flex;
}
.searchBox button {
    padding: 15px; /* if size of button inc.. then the whole box inc.. asd rule of flex says that if one child grows then other child will also grow same */
    border: none;
    background-color: transparent;
    border-radius: 15px;
}
.searchBox input {
    flex-grow: 1; /* search button ko chd kr it'll take rest of the area... 100% of parent container */
    border: none; /* removing border of input */
    background-color: transparent;
}

/* now whenever i am clickin on input box a line will appear .. to remove this we use focus*/

.searchBox input:focus {
    outline: none;
}

.headerBtn {
    display: flex;
    gap: 40px;
    margin-right: 40px;
   
}

.headerBtn button {
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    border: none;
}
.headerBtn button:last-child  {
    background-color:#54b226 ;
    color: white;
    font-weight: bold;
    background-color: rgb(12, 131,31);
}
/* header section completed */


/* creating banner section */

.bannerSection {
    max-width: 1280px;
    margin : auto;
}
.bannerSection img {
    width: 100%; /* take 100% of its parent width i.e 1280 */
}
.orderBanner {
    display: flex;
    max-width: 1280px;
    margin:auto;
}
.orderBannerItems {
    flex-basis: 28%; /* it'll divide it 100 % into 28 * 3 = 84 %.. so the images will come in between 84% */
    margin: 1%;

}
.orderBannerItems img {
    width:100%;  /* image will take the width of parent from here it will shown proplery */
}

/* creating category section */
.categorySection {
    max-width: 1280px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
}
.categorySection .categoryItems {
flex-basis: 10%;
}
.categoryItems img {
    width : 100%;
}

/* creating product section */

.productSection{
    max-width: 1280px;
        margin: auto;
       
}
.headingRow{
    display: flex;
    justify-content:space-between;
    margin:10px 20px 15px;

    
}
.headingRow h2 {
    font-size: 22px;
}
.headingRow a {
    color: #328839;
    font-size: 18px;
}

.mainContainer {
    display: flex;
}
.productRow {
    display: flex;
    gap: 16px;
    /* consistent spacing */
    overflow-x: auto;
    /* horizontal scroll */
    padding: 20px;
    overflow: hidden;

    
}
.productItems {
    flex: 0 0 180px;
    /* fixed card width */
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background: white;
    
}
.productImg{
    text-align: center;
    padding: 15px;

}
.productImg p{
    background-color: #f8f8f8;
    text-align:left;
    font-size: 12px;
    display:flex; 
    padding:2px;
    align-items: center;
    width:60px;
    justify-content: center;
    gap:5px;
}
.productContent {
    padding: 15px;
    padding-top: 0px;
}
.productContent h3 {
    font-size: 14px;
    margin-bottom: 15px;
}
.productContent p {
    font-size: 14px;
    color: #848080;
}
.price-btn{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.price-btn button{
    border: 1px solid #328839;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #f7fff9;


}