.container {
    display: grid;
    /* grid-template-columns: 100px 200px 300px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    /* gap:40px; */
    row-gap: 20px;
    column-gap: 20px; 
    background-color: bisque;
}

.container div {
    background: white;
    border: 1px solid black;
}