* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0 80px;
    flex-wrap: wrap;
    
}

/* left content */
.hero-content {
    flex:1;
    max-width: 600px;
    padding: 80px ;
    

}

.hero-content h1 {
    color: #333;
    font-size:40px;
    font-weight: 600;
    letter-spacing: 1.7px;
    margin-bottom: 20px;
    text-shadow: 0 2px 2px  rgba(0,0,0,0.5);

}

.hero-content p {
    font-size: 17px;
    color:gray;
    margin-bottom: 20px;
    line-height: 24px;
    margin-bottom: 25px;

}


.buttons{
    display: flex;
        gap: 20px;
    padding:20px;
}
.buttons button {

    padding:14px 20px;
    gap:30px;
}

.images {
    flex:1;
    
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

