.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav1 {
    display: flex;
    gap:60px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav1 a {
    text-decoration: none;
}

