#box1 {

    background-color: antiquewhite;
    height: 40px;
    position: relative;
    z-index: 1;
}

#box2 {

    position: absolute;
    background-color: aquamarine;
    height: 40px;
    top: 30px;
    
}