* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.editor {
    display: flex;
    height: 100vh;
}

.layers-panel, .properties-panel {
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
}

.canvas {
    position: relative;
    flex: 1;
    background-color: #f0f0f0;
    border: 2px dashed grey;


}


/* Step -2 */

.work-area {
    width: 600px;
    height:400px;
    background-color: white ;
    border: 1px solid #ccc;
}