* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.hero {
    height: 100vh;
   
    padding:0 60px;
    background-image:url(images/38580.jpg) ;
    background-position: center;
    background-size: cover;
    
}
.hero-content {
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    
    
}
.hero-content #highlight {
    display: block;
}

.hero-content h1,p {
    color: #333;
    text-shadow: 0 2px 8px rgba(0,0,0,0.6);
    color: white;
    margin-bottom:16px;
    letter-spacing: 1.6px;
}

.hero-content .buttons {
    padding:20px;
    display: flex;
        gap: 30px;
}

.hero-content .buttons button {
    padding:21px 29px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero-content .buttons button:hover {
    background-color: burlywood;
    transform: scale(1.1) translateY(-5px);;
    
}